/* body{
    height: 300vh;
} */

.dropdown_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 0px 10px 10px 10px;
}

.dropdown-list{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

.dropdown-list .dropdown-list__items{
    display:none;
    top: 10px;
    height: 150px;
    overflow: auto;
}

.dropdown-list__header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 5px;
    transition: 0.3s;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.dropdown-list__item:nth-of-type(even){
    background: rgb(235, 235, 235);
}

.dropdown-list__header:hover, .dropdown-list__item:hover{
    background: rgb(194, 194, 194);
    box-shadow: 1px 1px 5px black;
}
.dropdown-list:nth-of-type(odd) .dropdown-list__header{
    background: rgb(235, 235, 235);
}

.dropdown-list__header span{
    margin: 5px;
}

.dropdown-list .dropdown-list__item{
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
    /* border-radius: 5px; */
}
.dropdown-list__header .icon{
  transform: rotate(0deg);
  transition: transform 0.6s linear;
}

.dropdown-list__header .icon.icon_clicked{
  transform: rotate(180deg);
  transition: transform 0.6s linear;
}

.dropdown-list__header .icon i{
    font-size: 20px;
    margin-top: -3px;
    cursor: pointer;
}