.footer{
    position: relative;
    height: 60vh;
    width: 100%;
    background: rgb(0, 0, 0);
}

.footer .dev-info{
    position: absolute;
    display: inline;
    color: white;
    left: 40%;
    top: 10%;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.footer .dev-info::before{
    content: '';
    position: absolute;
    width: 350px;
    height: 2px;
    background: white;
    top: 50%;
    left: -125%;
}


.footer .dev-info::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 3px;
    background: white;
    top: 50%;
    left: 115%;
}

.developers{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 60%; */
    height: 100%;
    /* float: right; */
    /* border: 1px solid white; */
}

.developers .developer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    border: 0px solid white;
    margin-top: 100px;
    width: 170px;
    height: 230px;
    /* border: 1px solid white; */
}

.developers .developer .photo{
    border: 3px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background: rgb(110, 110, 110); */
    margin-top: 10px;
}

.developers .developer .name{
    font-size: 15px;
    color: white;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0px;
}

.developers .developer .social_media{
    display: flex;
    flex-direction:row;
    /* justify-content: ; */
    align-items: center;
}

.developers .developer .info{
    color: white;
    font-size: 11px;
    margin: 10px 0px 20px 0px;
}

.developers .developer i{
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
}