body{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.abstract-text{
    position: relative;
    width: 80%;
    height: 130vh;
    top: 100px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
}

.abstract-text .reference{
    margin-top: 30px;
    font-size: 12px;
    width: 50%;
}

.abstract-text h3{
    position: relative;
    left: 40%;
    margin: 15px 0;
}

.initiative-footer{
    position: relative;
    bottom: 0px;
}

@media screen and (max-width: 1050px){
    body{
        /* background: pink; */
    }

    .abstract-text{
        height: 170vh;
    }
}

@media screen and (max-width: 620px){
    body{
        /* background: green; */
    }

    .abstract-text{
        height: 230vh;
    }
}