*{
    margin: 0;
    padding: 0;
}
/* 
.menu{
    background: black;
    box-shadow: 5px 5px 10px white;
}

.menu a {
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.menu a:hover {

} */

body{
    overflow-x: hidden;
}

.all_footers{
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: auto auto;
}

.footer{
    position: relative;
    // height: 50vh;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // border: 1px solid #fff;
}

.footer .dev-info{
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    // margin: 0 47%;
    top: 10%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    // border: 1px solid #fff;
}

/* .footer .dev-info::before{
    content: '';
    position: absolute;
    width: 350px;
    height: 2px;
    background: white;
    top: 50%;
    left: -125%;
}


.footer .dev-info::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 3px;
    background: white;
    top: 50%;
    left: 115%;
} */

.developers{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
    // border: 1px solid rgb(255, 0, 0);
}

.developers .developer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin: 100px 30px 10px 10px;
    width: 170px;
    height: 230px;
    background: rgb(0, 0, 0);
    border: 1px solid white;
}

.developers .developer .photo{
    border: 3px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background: rgb(110, 110, 110); */
    margin-top: 10px;
}

.developers .developer .name{
    font-size: 15px;
    color: white;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0px;
}

.developers .developer .social_media{
    display: flex;
    flex-direction:row;
    /* justify-content: ; */
    align-items: center;
}

.developers .developer .social_media div a{
    outline: none;
}

.developers .developer .social_media .instagram{
    display: none;
}

.developers .developer .info{
    color: white;
    font-size: 11px;
    margin: 10px 0px 20px 0px;
}

.developers .developer i{
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.thanks{
    background-color: black;
    color :white;
    font-size: 14px;
    padding: 10px;
    margin-top: 40px;
}

@media screen and (max-width:850px){
    .footer{
        // background:white;
    }
    .developers{
        grid-template-columns: repeat(2, 1fr);

        .developer{
            margin-top: 150px
        }
    }
}

@media screen and (max-width: 450px){
    .footer{
        // background:white;
    }
    .developers{
        grid-template-columns: repeat(1, 1fr);

        .developer:first-child{
            margin-top: 250px
        }

        .dev-info{
            padding: 100px;
            border: 1px solid white;
        }
    }
}