* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 40px;
    /* border: 1px solid black; */
}

.subheader {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 20px;
    /* border-bottom: 1px solid black; */
}

.map-and-graphs {
    position: relative;
    display: flex;
    flex-direction: row;
    /* height: 140vh; */
    margin: 10px;
}

.map-and-graphs .map {
    position: relative;
    width: 45%;
    margin-left: 2%;
}

.map-and-graphs .graphs {
    position: relative;
    margin-left: 10%;
    width: 35%;
    margin: 5px;
    margin-left: 8%;
    /* background-color: rgb(240, 236, 236); */
}

.map-and-graphs .graphs .style_canvas {
    height: 43vh;
    border-radius: 8px;
}

/* .mpadiv {
    he
} */

.mapdiv path {
    fill: #ffeeee;
    stroke: #a85f5f;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mapdiv path:hover {
    fill: #ffaaaa;
    stroke: #ff1111;
    stroke-width: 2px;
}

.mapdiv a {
    text-decoration: none;
}

.backbtn {
    text-decoration: none;
    padding: 20px;
    width: 50%;
    margin: 2%;
    text-align: center;
    background-color: #333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.states-list {
    display: flex;
    flex-direction: column;
}

.states-list .states .districts {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    body {
        background: greenyellow;
    }
    .map-and-graphs {
        position: relative;
        display: flex;
        flex-direction: column;
        /* height: 140vh; */
        margin: 10px;
    }
}